{% extends 'base2.html.twig' %}
{% block container %}
  <div class="row">
    {% for row in project %}
      <a href="#">
        <article class="color1contenido col-xs-12 col-sm-6 col-md-5 col-md-offset-1 ">
          <div class="gallery-project">
            <img src="http://conceptodefinicion.de/wp-content/uploads/2016/03/Fabrica.jpg" alt="{{ row.title }}" class="img-fluid">
            <div class="desc-project">{{ row.title }}</div>
            <div class="desc-project">{{ row.description }}</div>
          </div>
        </article>
      </a>
    {% endfor %}
  </div>
  <div class="row">
    <article class="col-md-offset-5 col-lg-offset-6 col-sm-offset-5 col-xs-offset-5">
      {% if maxPages > 1 %}
         <nav aria-label="Page navigation example">
           <ul class="pagination">
             {%if thisPage > 1 %}
             <li class="page-item"><a class="page-link" href="{{ path('homepage', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">Anterior</a></li>
             {% endif %}
             {# Render each page number #}
             {% for i in 1..maxPages %}
             <li class="page-item"><a class="page-link" href="{{ path('homepage', {currentPage: i}) }}">{{ i }}</a></li>
             {% endfor %}
             {%if thisPage < maxPages %}
             <li class="page-item"><a class="page-link" href="{{ path('homepage', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">Siguiente</a></li>
             {% endif %}
           </ul>
         </nav>
       {% endif %}
    </article>
  </div>
  <br>
{% endblock %}
