{% extends 'base.html.twig' %}
{% block container %}
{{ form_start(user_new) }}
    <div>
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 ">
             <div class="form-group">
                 <div class="cols-sm-10">
                     <div class="input-group">
                         {{ form_label(user_new.name) }}
                         {{ form_widget(user_new.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre'} }) }}
                     </div>
                 </div>
             </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        {{ form_label(user_new.surname) }}
                        {{ form_widget(user_new.surname, { 'attr': {'class': 'form-control', 'placeholder': 'Apellidos'} }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        {{ form_label(user_new.plainPassword.first) }}
                        {{ form_widget(user_new.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Contraseña'} }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        {{ form_label(user_new.plainPassword.second) }}
                        {{ form_widget(user_new.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirmar Contraseña'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 col-md-offset-1" style="padding-left:-5px;">
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        {{ form_label(user_new.email) }}
                        {{ form_widget(user_new.email, { 'attr': {'class': 'form-control',  'placeholder': 'Correo Electrónico'} }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        {{ form_label(user_new.phoneNumber) }}
                        {{ form_widget(user_new.phoneNumber, { 'attr': {'class': 'form-control',  'placeholder': 'Número de Teléfono'} }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        {{ form_label(user_new.address) }}
                        {{ form_widget(user_new.address, { 'attr': {'class': 'form-control',  'placeholder': 'Dirección'} }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        {{ form_label(user_new.birthday) }}
                        {{ form_widget(user_new.birthday) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="padding-top:5px;">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Registrarse</button>
        </div>
    </div>
{{ form_end(user_new) }}
{% endblock %}
