{% extends 'base.html.twig' %}
{% block container %}
<div class="new_project">
    {{ form_start(project_edit) }}
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div id="titles">
                        {{ form_label(project_edit.title, null, { 'label_attr':{ 'class': 'col-form-label' }}) }}
                    </div>
                    <div class="col-sm-12 col-sm-12">
                        {{ form_widget(project_edit.title, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-12 col-xs-12">
                    <div id="titles">
                        {{ form_label(project_edit.maxMembers, null, { 'label_attr':{ 'class': 'col-form-label' }}) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_widget(project_edit.maxMembers, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-12 col-xs-12">
                    <div id="titles">
                        {{ form_label(project_edit.actualMembers, null, { 'label_attr':{ 'class': 'col-form-label' }}) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_widget(project_edit.actualMembers, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div id="titles">
                        {{ form_label(project_edit.description, null, { 'label_attr':{ 'class': 'col-form-label' }}) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_widget(project_edit.description, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div id="titles">
                        {{ form_label(project_edit.location, null, { 'label_attr':{ 'class': 'col-form-label' }}) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_widget(project_edit.location, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div id="titles">
                        {{ form_label(project_edit.date_expiration, null, { 'label_attr':{ 'class': 'col-form-label' }}) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_widget(project_edit.date_expiration) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 col-xs-12">
            <div id="button_create_project">
                <button  type="submit" class="btn btn-success">EDITAR</button>
            </div>
        </div>
    </div>
    {{ form_end(project_edit) }}
</div>
{% endblock %}
