{% extends 'base.html.twig' %}
{% block container %}
<style media="screen">
  h3{
    color: #0e1a35;
  }
</style>
<div class="row">
  <div class="col-md-6">
        <h3>Titulo</h3> {{ project.title }}
  </div>
  <div class="col-md-6" style="word-break: break-all; word-wrap: break-word;">
      <h3>Descripcion</h3> {{ project.description}}
  </div>
</div>
<div class="row">
    <div class="col-md-6">
          <img src="{{ asset('img/project/'~ project.foto) }}" alt="" style="width:350px;">
    </div>
</div>
<div class="row">
  <div class="col-md-6">
        <h3>Ubicación</h3> {{ project.location }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
        <h3>Socios máximos</h3> {{ project.maxMembers }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
        <h3>Socios actuales</h3> {{ project.actualMembers }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
        <h3>Personas interesadas</h3> {{ project.interestedPeople }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
        <h3>Fecha límite</h3> {{ project.dateExpiration|date('d-m-y') }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <div id="button_info_project">
   <a href="{{ path('project') }}" type="button" class="btn btn-default" >VOLVER</a>
   <button  style="margin-left:20px;" type="button" class="btn btn-primary">IMPRIMIR</button>
  </div>
  </div>
</div>


{% endblock %}
